<template>
<!-- 总体预览 -->
  <el-card>
    <el-table :data="tableData.tableData1" style="width: 100%">
      <el-table-column fixed prop="id" label="申请编号" width="140" align="center"/>
      <el-table-column prop="xuehao" label="学号" width="120" align="center"/>
      <el-table-column prop="name" label="姓名" width="120" align="center"/>
      <el-table-column prop="xueyuan" label="学院" width="220" align="center"/>
      <el-table-column prop="xuenian" label="学年" width="100" align="center"/>
      <el-table-column prop="dengji" label="等级" width="220" align="center"/>
      <el-table-column prop="hanyiname" label="申请寒衣名字" width="220" align="center"/>
      <el-table-column prop="chima" label="尺码" width="100" align="center"/>



    </el-table>
  </el-card>

  <el-card v-show="flag">
    <div>
      <h1>拒绝原因</h1>
    </div>
    <el-input v-model="text"/>
    <el-button @click="isno">确认拒绝</el-button>
  </el-card>
</template>

<script setup>
import {reactive, onMounted, ref} from "vue";
import service from "../axios/index.js";

const flag = ref(false)
const isno_ = ref(0)

const isshenqi=2

function handleClick_(id) {
  isno_.value = id
  flag.value = !flag.value
}

const tableData = reactive({
  tableData1: []
})

function isno() {
  service.get("/djk/hanyishengqi/jujue?id="+isno_.value+'&text='+text.value+'&isshengqi='+isshenqi).then(res=>{
    console.log(res)
  })
}

const text = ref("")

const active = ref(1)

onMounted(() => {
  getMesage()
})

//获取数据
function getMesage() {
  service.get('/djk/hanyishengqi/get').then((res) => {

    tableData.tableData1 = reactive(res.data.data.list)
    console.log(tableData.tableData1)

    tableData.tableData1 = tableData.tableData1.map((item) => {
      active.value = item.isshenghe
      text.value = item.text
      return item;
    })
  })
}
</script>

<style scoped>

</style>