<template>
  <el-aside width="200px"  class="aside_">
      <h1>寒衣发放系统</h1>
    <el-menu
        class="el-menu-vertical-demo"
        background-color="#545c64"
        text-color="#fff"
        :collapse="false"
    >

      <el-menu-item :index="item.path" v-for="(item,index) in noChildren()" :key="item.path"
                    v-show="item.isshow===flag||item.isshow_===flag"
                    @click="clickRouter(item.name)"
                    >

<!--        //动态引入-->
        <component class="icons" :is="item.icon"></component>
        <span>{{item.label}}</span>

      </el-menu-item>

      <el-sub-menu v-show="subItem.isshow===flag||subItem.isshow_===flag"   :index="subItem.label" v-for="(subItem) in hasChildren()" :key="subItem.label">
        <template #title>
          <component class="icons" :is="subItem.icon"></component>
          <span>{{subItem.label}}</span>

        </template>
        <el-menu-item-group>
          <el-menu-item v-for="item in subItem.children" :index="item.label" :key="item.label" @click="clickRouter(item.name)" >
            <component class="icons" :is="item.icon"></component>
            <span>{{ item.label}}</span>

          </el-menu-item>
        </el-menu-item-group>
      </el-sub-menu>




    </el-menu>

  </el-aside>

</template>

<script setup>
import {useRouter} from 'vue-router'
import {useStore} from "vuex";
import {computed, onMounted, reactive,ref} from "vue";

import {ElMessage} from "element-plus";

const flag=ref("")
flag.value=window.sessionStorage.getItem('type')



  const list=[
    {
      path:'/application',
      name:'application',
      label:'申请预览',
      icon:'user',
      isshow_:'3'

    },
    {
      label: '申请总览',
      icon:'location',
      path: '/Overview',
      name: 'Overview',
      isshow_:'3'

    },
    {
      label: '待我审核',
      icon:'location',
      path: '/Audit',
      name: 'Audit',
      isshow:'2',
      isshow_:'3'
    },
    {
      label: '批次设置',
      icon:'location',
      path: '/batch',
      name: 'batch',
      isshow_:'3'
    },
    {
      label: '寒衣设置',
      icon:'location',
      isshow_:'3',
      children:[{
        label: '寒衣管理',
        icon:'location',
        path: '/manage',
        name: 'manage',

      },
        {
          label: '款式添加',
          icon:'location',
          path: '/style_add',
          name: 'style',
        }
      ],

    },
    {
      label: '解除绑定',
      icon:'location',
      path: '/relieve',
      name: 'relieve',
      isshow_:'3'
    },
    {
      label: '白名单',
      icon:'location',
      path: '/Whitelist',
      name: 'Whitelist',
      isshow_:'3'
    },

  ]

  const noChildren=()=>{
    return list.filter(item=>!item.children)
  }

  const hasChildren=()=>{
    return list.filter((item)=>item.children)
  }

  const  router =useRouter()

  function clickRouter(name){
    console.log(name)
       router.push(
      {
        name:name
      }
  )
  }

</script>

<style scoped>
.aside_{
  background-color: #545c64;
  height: 100vh;
}
h1{
  font-family: 华文楷体;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
  .icons{
    width: 16px;
    height: 16px;
  }
</style>