<template>
<!--  批次管理-->
  <el-card class="box-card">
    <Dialog @shuaxing="shuaxing"/>
    <Dialog_update @shuaxing="shuaxing" @click="xiugai" />
  </el-card>
  <div>
    <el-table :data="tableData1.tableData" style="width: 100%">
      <el-table-column prop="id" label="序号" width="130"/>
      <el-table-column prop="xueyuan" label="学院" width="130"/>
      <el-table-column prop="pc" label="批次"/>

      <el-table-column prop="kunan" label="困难认定学年" width="150"/>
      <el-table-column prop="dengji" label="困难等级" width="180"/>
      <el-table-column prop="begintime" label="开始时间"/>
      <el-table-column prop="endtime" label="结束时间"/>

      <el-table-column fixed="right" label="操作" width="180" v-show="userdata===2||3===userdata">
        <template #default="{row}">
          <el-button type="warning" round size="small" @click="xiugai(row.id)">修改</el-button>

          <el-button type="danger" round size="small" @click="shanchu(row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

</template>

<script setup>
import Dialog from './Dialog.vue'
import Dialog_update from './Dialog_update.vue'


import service from "../axios/index.js";
import {onMounted, reactive} from "vue";

import {useStore} from 'vuex'
import {computed} from "vue";
import {ElMessage} from "element-plus";
const  store=useStore()

let userdata = computed(() => store.state.type);
//修改
function xiugai(id){
  store.commit("update",id)
  store.commit("updateDialogFormVisible")
}

//删除
function shanchu(id) {
  service.get("/djk/pici/delete/"+id).then(res=>{
    ElMessage({
      showClose: true,
      message: '删除成功',
      type: 'error',
    })
    getMesage();
  })
}

//刷新
function shuaxing() {
  getMesage();
}

let tableData1 = reactive({
  tableData: []
})

//获取数据
function getMesage() {
  service.get('/djk/pici/get').then((res) => {

    tableData1.tableData = reactive(res.data.data.list)
    console.log(tableData1.tableData)

    tableData1.tableData = tableData1.tableData.map((item) => {

      item.begintime=item.begintime.substring(0,item.begintime.indexOf("T"))
      item.endtime=item.endtime.substring(0,item.endtime.indexOf("T"))

      return item;
    })
  })
}

onMounted(() => {
  getMesage();
})
</script>

<style scoped>

</style>