<template>
<!--增加批次-->
  <!-- Form -->
  <el-button type="primary"  @click="dialogFormVisible_" >增加</el-button>


  <el-dialog v-model="dialogFormVisible.flag" title="批次设置添加" width="400px">
    <el-form >
      <el-form-item label="选择学院">
        <el-select v-model="form.xueyuan" placeholder="请选择学院">
          <el-option label="法学院" value="法学院"/>
          <el-option label="工商管理学院" value="工商管理学院"/>
          <el-option label="商学院" value="商学院"/>
          <el-option label="软件学院" value="软件学院"/>
          <el-option label="计算机学院 " value="计算机学院"/>
          <el-option label="马克思学院" value="马克思学院"/>
        </el-select>
      </el-form-item>


      <el-form-item label="选择批次">
        <el-select v-model="form.pc" placeholder="请选择批次">
          <el-option label="第一次批次" value="第一次批次" />
          <el-option label="第二次批次" value="第二次批次" />
        </el-select>
      </el-form-item>

      <el-form-item label="困难认定学年">
        <el-select v-model="form.kunan" placeholder="请选择困难认定学年">
          <el-option label="第一学年" value="第一学年" />
          <el-option label="第二学年" value="第二学年" />
        </el-select>
      </el-form-item>

      <el-form-item label="困难等级">
        <el-select v-model="form.dengji" placeholder="请选择困难等级">
          <el-option label="第一等级" value="第一等级" />
          <el-option label="第二等级" value="第二等级" />
        </el-select>
      </el-form-item>

      <el-form-item label="开始时间">
        <el-col :span="11">
          <el-date-picker
              v-model="form.begintime"
              type="date"
              placeholder="选择开始时间"
              style="width: 100%"
          />
        </el-col>
      </el-form-item>

      <el-form-item label="结束始时间">
        <el-col :span="11">
          <el-date-picker
              v-model="form.endtime"
              type="date"
              placeholder="选择结束时间"
              style="width: 100%"
          />
        </el-col>
      </el-form-item>


    </el-form>
    <template #footer >
      <span class="dialog-footer">
        <el-button @click="dialogFormVisible.flag = false">取消</el-button>
        <el-button type="primary" @click="add"
        >提交</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import {reactive, ref, onMounted, toRefs,toRef} from 'vue'

import service from "../axios/index.js";
import {ElMessage} from "element-plus";

let dialogFormVisible = reactive({
  flag:false
})


const form = reactive({
  id: '',
  xueyuan: '',
  pc: '',
  kunan: '',
  dengji: '',
  begintime: '',
  endtime:''
})

function dialogFormVisible_(){
  dialogFormVisible.flag=!dialogFormVisible.flag;
  console.log(dialogFormVisible.flag)
}

let emit = defineEmits(["shuaxing"]);

function add() {


   service({
     method:'post',
     url:'/djk/pici/add',
     data: JSON.stringify(form),
     headers:          {
                         'Content-Type': 'application/json;charset=utf-8'
                       }
   },
   ).then((res)=>{
     console.log(form)
     ElMessage({
       showClose: true,
       message: '添加成功',
       type: 'success',
     })
     console.log(dialogFormVisible,"显示")
     emit("shuaxing")
     console.log(res)
     dialogFormVisible.flag=false
   })
}

</script>

<style scoped>

</style>