<template>
<!--批次修改-->
  <!-- Form -->

  <el-dialog  v-model="$store.state.dialogFormVisible" title="批次列表修改" width="400px">
    <el-form >
      <el-form-item label="选择批次">
        <el-select v-model="form.xueyuan" placeholder="请选择性别">
          <el-option label="法学院" value="法学院"/>
          <el-option label="工商管理学院" value="工商管理学院"/>
          <el-option label="商学院" value="商学院"/>
          <el-option label="软件学院" value="软件学院"/>
          <el-option label="计算机学院 " value="计算机学院"/>
          <el-option label="马克思学院" value="马克思学院"/>
        </el-select>
      </el-form-item>


      <el-form-item label="选择批次">
        <el-select v-model="form.pc" placeholder="请选择性别">
          <el-option label="第一次批次" value="第一次批次" />
          <el-option label="第二次批次" value="第二次批次" />
        </el-select>
      </el-form-item>

      <el-form-item label="困难认定学年">
        <el-select v-model="form.kunan" placeholder="请选择性别">
          <el-option label="第一学年" value="第一学年" />
          <el-option label="第二学年" value="第二学年" />
        </el-select>
      </el-form-item>

      <el-form-item label="困难等级">
        <el-select v-model="form.dengji" placeholder="请选择性别">
          <el-option label="第一等级" value="第一等级" />
          <el-option label="第二等级" value="第二等级" />
        </el-select>
      </el-form-item>

      <el-form-item label="开始时间">
        <el-col :span="11">
          <el-date-picker
              v-model="form.begintime"
              type="date"
              placeholder="Pick a date"
              style="width: 100%"
          />
        </el-col>
      </el-form-item>

      <el-form-item label="结束始时间">
        <el-col :span="11">
          <el-date-picker
              v-model="form.endtime"
              type="date"
              placeholder="Pick a date"
              style="width: 100%"
          />
        </el-col>
      </el-form-item>


    </el-form>
    <template #footer >
      <span class="dialog-footer">
        <el-button @click="dialogFormVisible" >取消</el-button>
        <el-button type="primary" @click="add"
        >确认修改</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import {computed, reactive,onUpdated} from 'vue'

import service from "../axios/index.js";
import {useStore} from "vuex";
import {ElMessage} from "element-plus";

let store=useStore()

let userdata = computed(() => store.state.update);

let emit = defineEmits(["shuaxing"]);
onUpdated(()=>{
  getMessage(userdata.value)
})

function dialogFormVisible(){
  store.commit("updateDialogFormVisible")
}



let form = reactive({
  id:'',
  xueyuan:'',
  pc:'',
  kunan:'',
  dengji:'',
  begintime:'',
  endtime:'',

})

function add() {


  service({
        method:'post',
        url:'/djk/pici/update',
        data: JSON.stringify(form),
        headers:          {
          'Content-Type': 'application/json;charset=utf-8'
        }
      },
  ).then((res)=>{
    ElMessage({
      showClose: true,
      message: '修改成功',
      type: 'success',
    })
    store.commit("updateDialogFormVisible")
    console.log(dialogFormVisible,"显示")
    emit("shuaxing")
    console.log(res)

  })
}


function getMessage(id) {
  // const form_ = reactive({
  //   bianhao: form.bianhao,
  //   name: form.name,
  //   sex: form.sex,
  //   data: form.data1+form.data2,
  //   phone: form.phone,
  // })

  service.get('/djk/pici/byId/'+id).then((res) => {
    console.log(res.data.data.pici)
    let data= res.data.data.pici
    console.log(form,"---------->>>>>>>>>")
    form.id=data.id
    form.xueyuan=data.xueyuan
    form.pc=data.pc
    form.kunan=data.kunan
    form.dengji=data.dengji
    form.begintime=data.begintime
    form.endtime=data.endtime
    // let data1=res.data.data.user.data
    // let data2= data1.substring(0,data1.indexOf(')')+1)
    // let data3=data1.substring(data1.indexOf(')')+1,data1.length)
    // form.data1=data2
    // form.data2=data3


  })
}

</script>

<style scoped>

</style>