<template>
<!--款式修改-->
  <!-- Form -->

  <el-dialog  v-model="$store.state.dialogFormVisible_1" title="列表修改" width="400px">
    <el-form >
      <el-form-item  label="寒衣名字">
        <el-input class="inpt" v-model="form.name"/>
      </el-form-item>


      <el-form-item label="寒衣款式(男/女)">
        <el-select v-model="form.sex" placeholder="please select your zone">
          <el-option label="男" value="男" />
          <el-option label="女" value="女" />
        </el-select>
      </el-form-item>

      <el-form-item label="尺码">
        <el-select v-model="form.chima" placeholder="please select your zone">
          <el-option label="S" value="S" />
          <el-option label="M" value="M" />
          <el-option label="L" value="L" />
          <el-option label="XL" value="XL" />
          <el-option label="XXL" value="XXL" />
          <el-option label="XXXL" value="XXXL" />
        </el-select>
      </el-form-item>

      <el-form-item label="数量">
        <el-input class="inpt" v-model="form.bianhao" />
      </el-form-item>




    </el-form>
    <template #footer >
      <span class="dialog-footer">
        <el-button @click="dialogFormVisible" >取消</el-button>
        <el-button type="primary" @click="add"
        >确认修改</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import {computed, reactive,onUpdated} from 'vue'

import service from "../axios/index.js";
import {useStore} from "vuex";
import {ElMessage} from "element-plus";

let store=useStore()

let userdata = computed(() => store.state.update_1);
let emit = defineEmits(["shuaxing"]);
onUpdated(()=>{
  getMessage(userdata.value)
})

function dialogFormVisible(){
  store.commit("updateDialogFormVisible_1")
}



let form = reactive({
  id: '',
  sex: '',
  name: '',
  chima: '',
  imgsrc: '',
  bianhao: '',
})

function add() {


  service({
        method:'post',
        url:'/djk/kuanshi/update',
        data: JSON.stringify(form),
        headers:          {
          'Content-Type': 'application/json;charset=utf-8'
        }
      },
  ).then((res)=>{
    ElMessage({
      showClose: true,
      message: '修改成功',
      type: 'success',
    })
    store.commit("updateDialogFormVisible_1")
    emit("shuaxing")
    console.log(res)

  })
}


function getMessage(id) {


  service.get('/djk/kuanshi/get/'+id).then((res) => {
    console.log(res.data.data.kuanshi)
    let data= res.data.data.kuanshi
    console.log(form,"---------->>>>>>>>>")
    form.id=data.id
    form.sex=data.sex
    form.name=data.name
    form.imgsrc=data.imgsrc
    form.chima=data.chima
    form.bianhao=data.bianhao

  })
}

</script>

<style scoped>

</style>