<template>

  <el-header>
    <div class="1-content">
      <!--        图标的展示-->
      <!--        <el-icon :size="size" :color="color">-->
      <!--          <Edit/>-->
      <!--        </el-icon>-->
      <el-button size="small">
        <el-icon :size="20">
          <Menu/>
        </el-icon>
      </el-button>
    </div>

    <div class="r-content">
      <el-dropdown>
        <!--          <el-button type="primary">-->
        <img class="user" :src="img">
        <!--          </el-button>-->
        <template #dropdown>
          <el-dropdown-menu>

            <el-dropdown-item>个人中心</el-dropdown-item>
            <el-dropdown-item>退出</el-dropdown-item>

          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </el-header>

</template>

<script setup>
import {ref} from 'vue'

const img = ref("src/assets/QQ图片20220713124134.png")
const imgUrl = () => {
  return new URL()
}
</script>

<style lang="less" scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.r-content {
  .user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
</style>