<template>
<!--  设置寒衣-->
  <dialog_update_1 @shuaxing="shuaxing"/>
  <el-table :data="tableData.tableData1" style="width: 100%"  :header-cell-style="{'text-align':'center'}">
    <el-table-column fixed prop="id" label="id" width="110" align="center" />
    <el-table-column  label="寒衣图片"  width="220"  align="center">
      <template #default="{row}" >
        <div class="singer-img">
          <img :src="'http://localhost:8080'+row.imgsrc" style="width:100%"/>
        </div>

        <el-upload
            class="avatar-uploader"
            :action="'http://localhost:8080/djk/kuanshi/updateSingerPic?id='+row.id"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
           >

          <!-- <i v-else class="el-icon-plus avatar-uploader-icon"></i> -->
          <el-button size="mini" type="primary">更新图片</el-button>
        </el-upload>

      </template>

    </el-table-column>
    <el-table-column prop="name" label="寒衣名字" width="120" align="center" />
    <el-table-column prop="sex" label="寒夜款式" width="220"  align="center"/>
    <el-table-column prop="chima" label="寒衣尺码" width="220"  align="center" />
    <el-table-column prop="bianhao" label="寒衣数量" width="200" align="center" />

    <el-table-column fixed="right" label="操作" width="160" align="center">
      <template #default="{row}">
        <el-button round type="warning" size="small" @click="xiugai(row.id)"
        >编辑</el-button>
        <el-button round type="danger" size="small" @click="delete_(row.id)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script setup>

import {reactive,onMounted} from "vue"
import service from "../axios/index.js";
import {useStore} from "vuex";
import  Dialog_update_1 from '../views/Dialog_update_1.vue'
const store=useStore()
const tableData=reactive({
  tableData1:[{
    id:'',
    sex:'',
    name:'',
    chima:'',
    imgsrc:'',
    bianhao:''
  }]

})

//刷新
function shuaxing() {
  getMessage()
}

function handleAvatarSuccess(){
  getMessage()
}

function getMessage(){
  service.get("/djk/kuanshi/getMessage").then(res=>{
    console.log(res.data.data.list)
    tableData.tableData1=res.data.data.list
  })
}

onMounted(()=>{
  getMessage()
})

//修改
function xiugai(id){
  store.commit("update_1",id)
  store.commit("updateDialogFormVisible_1")
}

function delete_(id){
  service.get("/djk/kuanshi/delete/"+id).then(res=>{
    getMessage()
  })
}


</script>

<style scoped>


</style>