<template>
    <el-card>
<!--全局总览-->
    </el-card>

    <el-card>
      <h1>申请统计</h1>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-card>
              <div>
                申请人数
              </div>
            <div>
              {{shengqi.count.size}}
            </div>

          </el-card>
        </el-col>
        <el-col :span="6">
          <el-card>
            <div>
              已经通过审核
            </div>
            <div>
              {{shengqi.count.yi}}
            </div>
          </el-card>
        </el-col>

        <el-col :span="6">
          <el-card>
            <div>
              未通过审核
            </div>
            <div>
              {{shengqi.count.wei}}
            </div>
          </el-card>
        </el-col>
        <el-col :span="6">
          <el-card>
            <div>
             正在审核
            </div>
            <div>
              {{shengqi.count.zheng}}
            </div>
          </el-card>
        </el-col>

      </el-row>
    </el-card>

  <el-card>
    <h1>款式数量统计</h1>
    <el-row :gutter="20">
      <el-col :span="6">
        <el-card>
          <div>
            总款式（件）
          </div>
          <div>
            {{yi.count.size}}
          </div>

        </el-card>
      </el-col>
      <el-col :span="6">
        <el-card>
          <div>
            男款式（件）
          </div>
          <div>
            {{yi.count.zheng}}
          </div>
        </el-card>
      </el-col>

      <el-col :span="6">
        <el-card>
          <div>
            女款式（件）
          </div>
          <div>
            {{yi.count.wei}}
          </div>
        </el-card>
      </el-col>
      <el-col :span="6">
        <el-card>
          <div>
            男女皆款式（件）
          </div>
          <div>
            {{yi.count.yi}}
          </div>
        </el-card>
      </el-col>

    </el-row>
  </el-card>


    <el-card>
      <el-row :gutter="10">
        <el-col v-for="(item,index) in fen.list" :span="6">
          <el-card>
            <div>{{item.name}}</div>
            <div>
              <div>
                <span>S</span> <span class="lef_box">{{item.s}}</span>
              </div>

              <div>
                <span>M</span> <span  class="lef_box">{{item.m}}</span>
              </div>

              <div>
                <span>L</span> <span  class="lef_box">{{item.l}}</span>
              </div>


              <div>
                <span>XL</span> <span  class="lef_box">{{item.xl}}</span>
              </div>

              <div>
                <span>XXL</span> <span  class="lef_box">{{item.xxl}}</span>
              </div>


              <div>
                <span>XXXL</span> <span  class="lef_box">{{item.xxxl}}</span>
              </div>
            </div>
          </el-card>
        </el-col>

      </el-row>
  </el-card>

</template>

<script setup>
import {onMounted, reactive} from "vue";
import service from "../axios/index.js";

const shengqi=reactive({
    count:{}

})

const yi=reactive({
  count:{}
})

const fen=reactive({
  list:[]
})

onMounted(()=>{
    service.get("/djk/hanyishengqi/getYIFU").then(res=>{
      fen.list=res.data.data.fen
    })

  service.get("/djk/hanyishengqi/gentREN").then(res=>{
      shengqi.count=res.data.data.count
  })

  service.get("/djk/hanyishengqi/gentyi").then(res=>{
    yi.count=res.data.data.count
  })


})




</script>

<style scoped>
.lef_box{
  /*margin-right: 0px;*/
  float: right;
}
</style>