<template>
<!--  解除微信-->
  <el-table :data="tableData" style="width: 100%">
    <el-table-column fixed prop="id" label="id" width="250" />
    <el-table-column prop="username" label="账号（学号）" width="320" />
    <el-table-column prop="password" label="密码" width="220" />
    <el-table-column prop="weixihao" label="微信号" width="220" />

    <el-table-column fixed="right" label="操作" width="220">
      <template #default="{row}">
        <el-button round type="danger" size="small" @click="handleClick(row.id)"
        >解除绑定</el-button>

      </template>
    </el-table-column>
  </el-table>
</template>

<script setup>
import {reactive,ref,onMounted} from "vue";
import service from "../axios/index.js";


const tableData =ref([])

function handleClick(id){
  service.get("/djk/weixi/"+id).then(res=>{
    service.get("/djk/weixi/list").then(res=>{
      tableData.value=res.data.data.list
    })
  })
}

onMounted(()=>{
  service.get("/djk/weixi/list").then(res=>{
    tableData.value=res.data.data.list
  })
})


</script>