<template>
  <el-form class="from_"  :model="form" label-width="120px" >
<!--增加寒衣-->
    <el-form-item  label="寒衣名字">
      <el-input class="inpt" v-model="form.name"/>
    </el-form-item>
    <el-form-item label="寒衣款式(男/女)">
      <el-select v-model="form.sex" placeholder="please select your zone">
        <el-option label="男" value="男" />
        <el-option label="女" value="女" />
      </el-select>
    </el-form-item>

    <el-form-item label="尺码">
        <el-select v-model="form.chima" placeholder="please select your zone">
          <el-option label="S" value="S" />
          <el-option label="M" value="M" />
          <el-option label="L" value="L" />
          <el-option label="XL" value="XL" />
          <el-option label="XXL" value="XXL" />
          <el-option label="XXXL" value="XXXL" />
        </el-select>
    </el-form-item>
    <el-form-item label="数量">
      <el-input class="inpt" v-model="form.bianhao" />
    </el-form-item>

    <el-form-item>
      <el-button type="error" @click="add">确定提交</el-button>
    </el-form-item>
  </el-form>
</template>

<script  setup>
import { reactive } from 'vue'
import service from "../axios/index.js";
import {ElMessage} from "element-plus";
// do not use same name with ref
const form = reactive({
  id: '',
  sex: '',
  name: '',
  chima: '',
  imgsrc: '',
  bianhao: '',

})



function add() {


  service({
        method:'post',
        url:'/djk/kuanshi/add',
        data: JSON.stringify(form),
        headers:          {
          'Content-Type': 'application/json;charset=utf-8'
        }
      },
  ).then((res)=>{
    console.log(form)
    ElMessage({
      showClose: true,
      message: '添加成功',
      type: 'success',
    })


  })
}


</script>


<style scoped>
    .inpt{
      width: 19%;
    }
    .from_{
      margin-left: 30%;
      margin-top: 10%;
    }
</style>