<template>



    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="id" label="id" width="380" />
      <el-table-column prop="username" label="账号(学号)" width="380" />
      <el-table-column prop="password" label="密码" width="380" />
      <el-table-column prop="sex" label="性别" width="380" />
    </el-table>


</template>

<script setup>

import {reactive,ref,onMounted} from 'vue'
import service from "../axios/index.js";
const tableData = ref([])

onMounted(()=>{
  service.get("/djk/student/list").then(res=>{
    tableData.value=res.data.data.list
  })
})

</script>

<style scoped>

</style>