<template>
  <el-form :model="form" label-width="120px">
<!--apply for-->
    <el-form-item label="学号">
      <el-input v-model="form.xuehao" />
    </el-form-item>


    <el-form-item label="姓名">
      <el-input v-model="form.name" />
    </el-form-item>

    <el-form-item label="选择学院">
      <el-select v-model="form.xueyuan" placeholder="请选择学院">

        <el-option v-for="(item,indx) in data_.list" :key="indx" :label="item.xueyuan" :value="item.xueyuan"/>
<!--        <el-option label="工商管理学院" value="工商管理学院"/>-->
<!--        <el-option label="商学院" value="商学院"/>-->
<!--        <el-option label="软件学院" value="软件学院"/>-->
<!--        <el-option label="计算机学院 " value="计算机学院"/>-->
<!--        <el-option label="马克思学院" value="马克思学院"/>-->
      </el-select>
    </el-form-item>

    <el-form-item label="选择批次">
      <el-select v-model="form.pici" placeholder="请选择批次">
        <el-option label="第一次批次" value="第一次批次" />
        <el-option label="第二次批次" value="第二次批次" />
      </el-select>
    </el-form-item>

    <el-form-item label="困难认定学年">
      <el-select v-model="form.xuenian" placeholder="请选择困难认定学年">
        <el-option label="第一学年" value="第一学年" />
        <el-option label="第二学年" value="第二学年" />
      </el-select>
    </el-form-item>

    <el-form-item label="困难等级">
      <el-select v-model="form.dengji" placeholder="请选择困难等级">
        <el-option label="第一等级" value="第一等级" />
        <el-option label="第二等级" value="第二等级" />
      </el-select>
    </el-form-item>

    <el-form-item label="申请的寒衣名字">
      <el-select v-model="form.hanyiname" placeholder="请选择困难等级">
        <el-option v-for="(item,index) in tableData.tableData1"  :key="index" :label="item.name" :value="item.name" ></el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="尺码">
      <el-select v-model="form.chima" placeholder="please select your zone">
        <el-option label="S" value="S" />
        <el-option label="M" value="M" />
        <el-option label="L" value="L" />
        <el-option label="XL" value="XL" />
        <el-option label="XXL" value="XXL" />
        <el-option label="XXXL" value="XXXL" />
      </el-select>
    </el-form-item>



    <el-form-item>
      <el-button type="primary" @click="onSubmit">Create</el-button>

    </el-form-item>

  </el-form>


</template>

<script  setup>
import { reactive,onMounted } from 'vue'
import service from "../axios/index.js";
import {ElMessage} from "element-plus";



const form=reactive({
  id:'',
  xuehao:'',
  name:'',
  xueyuan:'',
  pici:'',
  xuenian:'',
  dengji:'',
  hanyiname:'',
  chima:'',
  sex:'',
  isshenghe:'1',
})

onMounted(()=>{
  getXueyuan_()
  form.xuehao=window.sessionStorage.getItem("username")
  form.sex=window.sessionStorage.getItem("sex")
  console.log(form.sex,"=====>")
  getMessage()
})

const tableData=reactive({
  tableData1:[]
})

function getMessage(){
  service.get("/djk/kuanshi/getMessage").then(res=>{
    console.log(res.data.data.list)
    tableData.tableData1=res.data.data.list
  })
}
// do not use same name with ref

const data_=reactive({
  list:[]
})

function getXueyuan_(){
  service.get("/djk/pici/get").then(res=>{
    console.log(res.data.data.list,"---->>>")
    data_.list=res.data.data.list
  })
}


const onSubmit = () => {

  service({
        method:'post',
        url:'/djk/hanyishengqi/add',
        data: JSON.stringify(form),
        headers:          {
          'Content-Type': 'application/json;charset=utf-8'
        }
      },
  ).then((res)=>{
    console.log(form)
    ElMessage({
      showClose: true,
      message: '添加成功',
      type: 'success',
    })

  })
}
</script>