<template>
  <el-aside width="200px"  class="aside_">
      <h1>学生端</h1>
    <el-menu
        class="el-menu-vertical-demo"
        background-color="#545c64"
        text-color="#fff"
        :collapse="false"
    >

      <el-menu-item :index="item.path" v-for="(item,index) in noChildren()" :key="item.path" @click="clickRouter(item.name)"
                    >

<!--        //动态引入-->
        <component class="icons" :is="item.icon"></component>
        <span>{{item.label}}</span>

      </el-menu-item>

      <el-sub-menu   :index="subItem.label" v-for="(subItem) in hasChildren()" :key="subItem.label">
        <template #title>
          <component class="icons" :is="subItem.icon"></component>
          <span>{{subItem.label}}</span>

        </template>
        <el-menu-item-group>
          <el-menu-item v-for="item in subItem.children" :index="item.label" :key="item.label" @click="clickRouter(item.name)" >
            <component class="icons" :is="item.icon"></component>
            <span>{{ item.label}}</span>

          </el-menu-item>
        </el-menu-item-group>
      </el-sub-menu>



    </el-menu>

  </el-aside>

</template>

<script setup>
import {useRouter} from 'vue-router'
import {useStore} from "vuex";
import {computed, onMounted, reactive} from "vue";

import {ElMessage} from "element-plus";




  const list=[
    {
      path:'/appli',
      name:'appli',
      label:'寒衣申请',
      icon:'user',

    },
    {
      label: '审核详情',
      icon:'location',
      path: '/Over',
      name: 'Over',
    },

  ]

  const noChildren=()=>{
    return list.filter(item=>!item.children)
  }

  const hasChildren=()=>{
    return list.filter((item)=>item.children)
  }

  const  router =useRouter()

  function clickRouter(name){
    console.log(name)
       router.push(
      {
        name:name
      }
  )
  }

</script>

<style scoped>
.aside_{
  background-color: #545c64;
  height: 100vh;
}
h1{
  font-family: 华文楷体;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
  .icons{
    width: 16px;
    height: 16px;
  }
</style>