<template>

  <!-- Form update -->

  <el-dialog  v-model="$store.state.dialogFormVisible_2" title="申请修改" width="400px">
    <el-form >
      <el-form-item label="学号">
        <el-input v-model="form.xuehao"/>
      </el-form-item>

      <el-form-item label="姓名">
        <el-input v-model="form.name"/>
      </el-form-item>


      <el-form-item label="选择学院">
        <el-select v-model="form.xueyuan" placeholder="请选择性别">
          <el-option label="法学院" value="法学院"/>
          <el-option label="工商管理学院" value="工商管理学院"/>
          <el-option label="商学院" value="商学院"/>
          <el-option label="软件学院" value="软件学院"/>
          <el-option label="计算机学院 " value="计算机学院"/>
          <el-option label="马克思学院" value="马克思学院"/>
        </el-select>
      </el-form-item>

      <el-form-item label="困难认定学年">
        <el-select v-model="form.xuenian" placeholder="请选择性别">
          <el-option label="第一学年" value="第一学年" />
          <el-option label="第二学年" value="第二学年" />
        </el-select>
      </el-form-item>


      <el-form-item label="困难等级">
        <el-select v-model="form.dengji" placeholder="请选择性别">
          <el-option label="第一等级" value="第一等级" />
          <el-option label="第二等级" value="第二等级" />
        </el-select>
      </el-form-item>

      <el-form-item label="申请寒衣名字">
        <el-input v-model="form.hanyiname"/>
      </el-form-item>

      <el-form-item label="尺码">
        <el-select v-model="form.chima" placeholder="please select your zone">
          <el-option label="S" value="S" />
          <el-option label="M" value="M" />
          <el-option label="L" value="L" />
          <el-option label="XL" value="XL" />
          <el-option label="XXL" value="XXL" />
          <el-option label="XXXL" value="XXXL" />
        </el-select>
      </el-form-item>




    </el-form>
    <template #footer >
      <span class="dialog-footer">
        <el-button @click="dialogFormVisible" >取消</el-button>
        <el-button type="primary" @click="add"
        >确认修改</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import {computed, reactive,onUpdated} from 'vue'

import service from "../axios/index.js";
import {useStore} from "vuex";
import {ElMessage} from "element-plus";

let store=useStore()

let userdata = computed(() => store.state.update_2);

let emit = defineEmits(["shuaxing"]);
onUpdated(()=>{
  getMessage(userdata.value)
})

function dialogFormVisible(){
  store.commit("updateDialogFormVisible")
}



let form = reactive({
  id:'',
  xuehao:'',
  name:'',
  xueyuan:'',
  xuenian:'',
  dengji:'',
  hanyiname:'',
  chima:'',

})

function add() {


  service({
        method:'post',
        url:'/djk/hanyishengqi/gengxing',
        data: JSON.stringify(form),
        headers:          {
          'Content-Type': 'application/json;charset=utf-8'
        }
      },
  ).then((res)=>{
    ElMessage({
      showClose: true,
      message: '修改成功',
      type: 'success',
    })
    store.commit("updateDialogFormVisible_2")

    emit("shuaxing")
    console.log(res)

  })
}


function getMessage(id) {

  service.get('/djk/hanyishengqi/'+id).then((res) => {
    console.log(res.data.data.one)
    let data= res.data.data.one
    console.log(form,"---------->>>>>>>>>")
    form.id=data.id
    form.xuehao=data.xuehao
    form.name=data.name
    form.xueyuan=data.xueyuan
    form.xuenian=data.xuenian
    form.dengji=data.dengji
    form.hanyiname=data.hanyiname
    form.chima=data.chima

  })
}

</script>

<style scoped>

</style>