<template>
  <div class="body">
    <div class="loginBox">
      <h2>学生注册</h2>
      <!-- //<form action=""> -->
      <div class="item">
        <input type="text" required  v-model="data.text">
        <label for="">账号（学号）</label>
      </div>
      <div class="item">
        <input type="password" required v-model="data.password">
        <label for="">密码</label>
      </div>


      <div>
        <el-select v-model="data.sex" placeholder="请选择性别">
          <el-option label="男" value="男" />
          <el-option label="女" value="女" />
        </el-select>
      </div>

      <el-button class="btn"  @click="sumblit">注册
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </el-button>
      <!-- </form> -->
    </div>
  </div>

</template>

<script setup>
import {reactive} from "vue";
import {useRouter} from "vue-router";
import service from "../axios/index.js";
import {useStore} from "vuex";
import {ElMessage} from "element-plus";
// import { ElMessage } from 'element-plus'
const data=reactive({
  text:"",
  password:"",
  sex:""
})
const store=useStore()
const router=useRouter()
function    sumblit(){
  console.log(data)
  service.get(`/djk/student/${data.text}/${data.password}/${data.sex}`).then(response=>{
    console.log(response)
    if (response.data.code===2000){
      store.commit("updateType",data.sex)
      ElMessage({
        showClose: true,
        message: '恭喜注册成功',
        type: 'success',
      })
      router.push({
        name:'login',
        query:{
          username:data.text,
          password:data.password,
          type:data.sex
        }
      })

    }else if (response.data.code===4000) {
      console.log("------->>>")
      ElMessage({
        showClose: true,
        message: '注册失败',
        type: 'error',
      })
    }


  }).catch(eorr=>{
    ElMessage({
      showClose: true,
      message: '注册失败',
      type: 'error',
    })
  })


}
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
button {
  background: transparent;
  border: 0;
  outline: none;
}

.body {
  height: 100vh;
  background: linear-gradient(#100000, #666666);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #0323f4;
}

.loginBox {
  width: 400px;
  height: 364px;
  background-color: #100000;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .6);
  padding: 40px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: aliceblue;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.item {
  height: 45px;
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
  position: relative;
}

.item input {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  box-sizing: border-box;
}

.item input:focus+label,
.item input:valid+label {
  top: 0px;
  font-size: 2px;
}

.item label {
  position: absolute;
  left: 0;
  top: 12px;
  transition: all 0.5s linear;
}

.btn {
  padding: 10px 20px;
  margin-top: 30px;
  color: #03e9f4;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  left: 35%;
}

.btn:hover {
  border-radius: 5px;
  color: #fff;
  background: #03e9f4;
  box-shadow: 0 0 5px 0 #03e9f4,
  0 0 25px 0 #03e9f4,
  0 0 50px 0 #03e9f4,
  0 0 100px 0 #03e9f4;
  transition: all 1s linear;
}

.btn>span {
  position: absolute;
}

.btn>span:nth-child(1) {
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(left, transparent, #03e9f4);
  left: -100%;
  top: 0px;
  animation: line1 1s linear infinite;
}

@keyframes line1 {

  50%,
  100% {
    left: 100%;
  }
}

.btn>span:nth-child(2) {
  width: 2px;
  height: 100%;
  background: -webkit-linear-gradient(top, transparent, #03e9f4);
  right: 0px;
  top: -100%;
  animation: line2 1s 0.25s linear infinite;
}

@keyframes line2 {

  50%,
  100% {
    top: 100%;
  }
}

.btn>span:nth-child(3) {
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(left, #03e9f4, transparent);
  left: 100%;
  bottom: 0px;
  animation: line3 1s 0.75s linear infinite;
}

@keyframes line3 {

  50%,
  100% {
    left: -100%;
  }
}

.btn>span:nth-child(4) {
  width: 2px;
  height: 100%;
  background: -webkit-linear-gradient(top, transparent, #03e9f4);
  left: 0px;
  top: 100%;
  animation: line4 1s 1s linear infinite;
}

@keyframes line4 {

  50%,
  100% {
    top: -100%;
  }
}
</style>