<template>
  <div class="common-layout">
    <el-container class="lay-container">
      <Aside/>
      <el-container class="r-container">
        <el-header>
          <Header/>
        </el-header>
        <el-main>
          <router-view/>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script setup>
import Aside from '../Student/Aside.vue'
import Header from '../views/Header.vue'


</script>

<style scoped>

</style>