<template>
<!--state-->
  <div>
    <Dialog_update @shuaxing="shuaxing"/>
    <el-card>
      <el-steps :active="active" :finish-status="success.isSuccess">
        <el-step title="已提交" />
        <el-step title="审核中" />
        <el-step title="完成申请" />
      </el-steps>
    </el-card>

    <el-card>
      <el-table :data="tableData.tableData1" style="width: 100%">
        <el-table-column fixed prop="id" label="申请编号" width="140" align="center" />
        <el-table-column prop="xuehao" label="学号" width="120" align="center" />
        <el-table-column prop="name" label="姓名" width="120" align="center" />
        <el-table-column prop="xueyuan" label="学院" width="120" align="center" />
        <el-table-column prop="xuenian" label="学年" width="100" align="center"  />
        <el-table-column prop="dengji" label="等级" width="120" align="center" />
        <el-table-column prop="hanyiname" label="申请寒衣名字" width="220" align="center" />
        <el-table-column prop="chima" label="尺码" width="100" align="center" />


        <el-table-column fixed="right" label="操作" width="210" align="center">
          <template #default="{row}">
            <el-button link type="primary" size="small" @click="xiugai(row.id)"
            >编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>

  <el-card v-show="flag">
    <div>
      申请失败原因
    </div>
      {{text}}
  </el-card>

</template>

<script setup>
import Dialog_update from '../Student/Dialog_update.vue'
import {reactive,onMounted,ref} from "vue";
import service from "../axios/index.js";
import {useStore} from "vuex";

const store=useStore()
const tableData =reactive({
  tableData1:[]
})


//修改
function xiugai(id){
  store.commit("update_2",id)
  store.commit("updateDialogFormVisible_2")
}

const success=reactive({
  isSuccess:'success'
})

const text=ref("")
const  flag=ref(false)
const active=ref(1)

//刷新
function shuaxing() {
  getMesage()
  active.value=1
}

onMounted(()=>{
getMesage()
})

//获取数据
function getMesage() {
  service.get('/djk/hanyishengqi/get').then((res) => {

    tableData.tableData1 = reactive(res.data.data.list)
    console.log(tableData.tableData1)

    tableData.tableData1 = tableData.tableData1.map((item) => {
      if (item.xuehao===window.sessionStorage.getItem("username")){
        if (item.flag){
          success.isSuccess="error"
        }
          active.value=item.isshenghe
          text.value=item.text
          flag.value=item.flag
          text.value=item.text
          return item;
      }
    })
    tableData.tableData1= tableData.tableData1.filter(d=>d)
    console.log(tableData.tableData1)
  })
}



</script>

<style scoped>

</style>